<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prvaci.koduo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".appstart"
            android:noHistory="true" />
        <activity android:name=".appact" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".UserActivity" />
        <activity android:name=".appeditor" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".DashboardApp"
            android:noHistory="true" />
        <activity
            android:name=".viseditor"
            android:noHistory="true" />
        <activity
            android:name=".afeditor"
            android:noHistory="true" />
        <activity
            android:name=".afitemeditor"
            android:noHistory="true" />
        <activity
            android:name=".updateapp"
            android:noHistory="true" />
        <activity
            android:name=".addnewapp"
            android:noHistory="true" />
        <activity
            android:name=".addaf"
            android:noHistory="true" />
        <activity
            android:name=".actadditem"
            android:noHistory="true" />
        <activity
            android:name=".funadditem"
            android:noHistory="true" />
        <activity
            android:name=".codeeditor"
            android:noHistory="true" />
        <activity android:name=".deleteapp"></activity>
    </application>

</manifest>